html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button.active {
  border: 1px solid grey;
  color: grey
}
button.active span{
  color: grey
}

.available {
  color: blue
}
.not-available{
  color: grey
}
button.dateActive {
  border: 1px solid blue;
}